doctype html
html
  title mtg-click
  link(href='app.css', rel='stylesheet')
body(ng-app="app")
  .app(ng-controller="test as vm")
    .header
      .title mtg-click
      .action(ng-click="vm.newGame()") New Game
      .action(ng-click="vm.firstPlayer()") Pick First
    .wrapper
      .container(ng-repeat="player in vm.players")
        .player(ng-class="[$first ? 'upsidedown' : '']")  
          .life(ng-click="player.removeLife()")
            span {{player.life}}
          .name(ng-click="player.setName()") {{player.name}}
          .actions 
            button.do.add-life(ng-click="player.addLife()") + 
            button.do.remove-life(ng-click="player.removeLife()") -
    .footer
      created by
        a(href='twitter.com/msarchet') @msarchet
  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js')
  script(type='text/javascript', src='app.js')
